<!DOCTYPE html>
<html>
<head>
    <title>Returns</title>
</head>
<body>
    <h1>Returns List</h1>

    <table border="1">
        <tr>
            <th>Order ID</th>
            <th>Category</th>
            <th>Status</th>
        </tr>

        {% for return in returns %}
        <tr>
            <td>{{ return["order_id"] }}</td>
            <td>{{ return["category"] }}</td>
            <td>{{ return["status"] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Back</a>
</body>
</html>